html,body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: black ; /*pegar uma cor melhor*/
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 60;
}

#logo img{
    width: 50px;
    position: absolute;
    margin-top: 4px;
    margin-left: 13px;
}

#menu{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    list-style: none;

}

li{
    float: left;
    padding: 20px 20px 22px 20px;
   
}

li:hover{
   background-color: rgba(60, 101, 189, 0.651);
 /*pegar uma cor melhor*/
}

li a{
    text-decoration: none;
    color: white;
}

#imagem_fundo{
   background-image: url(Img/Amarelo.jpg);
   background-size: cover;
   background-attachment: fixed;
   height: 80%; 
   padding: 10px;
   text-align: center;
}

#titulo{
    color: black;
    padding-top: 0%;
    text-shadow: 2px 2px 8px #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 10%;
    margin: 0;
    font-size: 420%;
}

#subtitulo{
  
    color: black;
    font-size: 150%;
    font-weight: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 3px white solid;
}

#acao{
    color: black;
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none; 
 
 }

 .icone{
    width: 60px;
 }      
 
 .destaque{
    background-color: #d9c7c562;
}

section{
    padding: 20px;
    float: left;
    text-align: center;
}

.imgeco{
    width: 80%;
    border: 1px
     black solid;
}

#acao:hover{
 background-color: rgba(72, 106, 151, 0.356);
 font-weight: 545;
 
}

.imgdestaque{
  background-image: url(img/Amarelo.jpg );
  background-size: cover;
  background-attachment: fixed;

}

.icone:hover{
    background-color: rgba(0, 0,225, 0.281);
    border-radius: 14px;
}



/*.letras{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}*/


img:hover{
    transform: scale(1.022);
}

img{
    transition: 500ms;
}

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;/*posição do elemento (div)., vai variar, com base no elemnto que vem anteriormente, (div ao lado esquerdo)*/
}

.dois{
    width: 40%;
}

.tres{
    width: 29%;
    padding: 0 2%;
}

.quatro{
    width: 15%;
}

#sobre img{
    width: 100%;
    border-radius: 50px;
}

footer{
    background-color: black;
    color:white;
    float: left;
    width: 100%;
    text-align: center;
}
